@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";
@import "image-select";

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}